/* Estilos para el primer párrafo */
.font-style {
  font-family: Arial, sans-serif;
}

/* Estilos para el segundo párrafo */
.font-size {
  font-size: 20px;
}

/* Estilos para el tercer párrafo */
.font-weight {
  font-weight: 700;
}
