/* Estilos para el contenedor */
.background-image {
    width: 300px;
    height: 200px;
    padding: 20px;
    border: 2px solid black;
    margin-bottom: 30px;
    /* Imagen de fondo */
    background-image: url('background-image.jpg');
    /* Repetir la imagen vertical y horizontalmente */
    background-repeat: repeat;
    /* Posición de la imagen */
    background-position: center;
    /* Tamaño de la imagen */
    background-size: cover;
  }