/* Estilos para el contenedor */
.box {
  padding: 20px;
  border: 2px solid black;
  margin-bottom: 30px;
}

/* Estilos para el primer p치rrafo */
.box p:first-child {
  font-size: 1.5em;
}

/* Estilos para el segundo p치rrafo */
.box p:nth-child(2) {
  font-size: 2rem;
}

/* Estilos para el tercer p치rrafo */
.box p:nth-child(3) {
  font-size: 5vw;
}

/* Estilos para el cuarto p치rrafo */
.box p:nth-child(4) {
  font-size: 10vh;
}
